.about {
    width:100%;
    height:500px;
    color:white;
    position:absolute;
    text-align:center;
    background-color:#363127;
}

.name{
    margin:auto;
    margin-top: 8%;
    line-height:50px;
    vertical-align:middle;
}

.title{
    margin:auto;
    line-height:20px;
    vertical-align:middle;
}

.about-paragraph{
    margin:auto;
    width: 50%;
    vertical-align:middle;
    padding-bottom: 100px;
}

.buttons{
    margin: auto;
    width: 50%;
    vertical-align:middle;
}