@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');


.about {
    width:100%;
    height:500px;
    color:white;
    position:absolute;
    text-align:center;
    background-color:#403E3F;
}

.name{
    margin:auto;
    margin-top: 8%;
    line-height:50px;
    vertical-align:middle;
    font-family: 'Work Sans', sans-serif;
    font-size: 3rem;
}

.title{
    margin:auto;
    line-height:20px;
    vertical-align:middle;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.8rem;
}

.about-paragraph{
    margin:auto;
    width: 50%;
    vertical-align:middle;
    padding-bottom: 100px;
}

.buttons{
    margin: auto;
    width: 50%;
    vertical-align:middle;
}

.resume{
    background-color: transparent;
    background-repeat: no-repeat;
    border: solid black 1px;
    cursor: pointer;
    overflow: hidden;
    font-size: 1.4rem;
}