@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');


.about {
    width:100%;
    height:500px;
    color:#292B2E;
    position:absolute;
    text-align:center;
    background-color:#F5EEDC;
}

.erik{
    color: #4C834E;
}

.name{
    margin:auto;
    margin-top: 8%;
    line-height:50px;
    vertical-align:middle;
    font-family: 'Work Sans', sans-serif;
    font-size: 3rem;
}

.title{
    margin:auto;
    line-height:20px;
    vertical-align:middle;
    font-family: 'Work Sans', sans-serif;
    font-size: 2.1rem;
}

.about-paragraph{
    margin:auto;
    width: 50%;
    vertical-align:middle;
    padding-bottom: 100px;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 50%;
    vertical-align:middle;
}

.resume{
    background-color: transparent;
    background-repeat: no-repeat;
    border: solid #4C834E 1px;
    cursor: pointer;
    overflow: hidden;
    font-size: 1.4rem;
    color: #4C834E;
}

.icons{
    display: flex;
    justify-content: space-evenly;
}

.linkedin{
    margin-right: 20px;
}

.resume-link{
    text-decoration: none;
    color: #4C834E;
}

@media screen and (max-width: 850px){
    .name{
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 480px) {
    .name {
      font-size: 1.5rem;
    }

    .title {
        font-size: 1rem;
    }

    .about-paragraph{
        line-height: 120%;
        width: 80%;
    }

    .resume{
        font-size: .8rem;
    }
  }