@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body{
    margin: 0;
}
.contact-title{
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: 'Work Sans', sans-serif;
    font-size: 3rem;
}

.email-button{
    background-color: transparent;
    background-repeat: no-repeat;
    border: solid #4C834E 1px;
    cursor: pointer;
    overflow: hidden;
    font-size: 1.4rem;
    color: #4C834E;
}

.button-container{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: 'Work Sans', sans-serif;
    font-size: 3rem;
}

.email{
    text-decoration: none;
    color: #4C834E;
}

#contact {
    text-decoration: none;
    color: #404040;
}

