
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body {
    margin: 0px;
}

.Navbar {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F5EEDC;
  }
  
  .Navbar > .nav-logo {
    font-weight: 700;
    font-size: 21px;
    margin: 7rem;
    color: #F24444;
  }
  
  .Navbar > .nav-items > a {
    color: #292B2E;
    font-size: 16px;
    text-decoration: none;
    margin: 1.5rem;
    position: relative;
    opacity: 0.9;
  }

  .nav-items{
    padding-right: 7rem;
    font-family: 'Work Sans', sans-serif;
    color: #292B2E;
  }
  
  .Navbar > .nav-items > a:hover {
    opacity: 1;
  }
  
  .Navbar > .nav-items > a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #292B2E;
    transition: all 0.45s;
  }
  
  .Navbar > .nav-items > a:hover::before {
    width: 100%;
  }

  .nav-logo{
    font-family: 'Work Sans', sans-serif;
    color: #292B2E;
  }
  
  .Navbar > .nav-toggle {
    display: none;
  }
  
  @media screen and (max-width: 450px) {
    .Navbar > .nav-logo {
      font-weight: 700;
      font-size: 10px;
      margin: 2rem;
    }

    .Navbar > .nav-items > a {
      color: #3E9535;
      font-size: 15px;
      text-decoration: none;
      margin: 1.2rem;
      position: relative;
      opacity: 0.9;
    }
  }