@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');


body{
    background-color: #F5EEDC;
}

.project-cards-container{
    position: relative;
    width: 80%;
    margin-left: 10%;
    margin-top: 6%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.project-title{
    width: 80%;
    margin-left: 10%;
    margin-top: 48%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: 'Work Sans', sans-serif;
    color: #292B2E;
    font-size: 3rem;
}

.card-title{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: #292B2E;
    font-size: 1.3rem;
    font-family: 'Work Sans', sans-serif;
}

.card-text{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}



.project-card {
    margin-bottom: 5%;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 8px #292B2E;
    width: 20rem;
    height: 20rem;
}

.live-button{
    background-color: transparent;
    background-repeat: no-repeat;
    border: solid #F24444 1px;
    cursor: pointer;
    overflow: hidden;
    font-size: 1.4rem;
    margin-top: 10px;
    color: #F24444;
}

.project-links{
    display: flex;
    justify-content: space-evenly;

}

#projects{
    text-decoration: none;
    color: #292B2E;
}




@media screen and (max-width: 1200px) {
    .project-title {
      margin-top: 60%;
    }
  }



@media screen and (max-width: 850px) {
    .project-title {
      margin-top: 110%;
    }
  }

@media screen and (max-width: 450px){
    .project-title {
        margin-top: 180%;
    }
}

@media screen and (max-width: 400px){
    .project-title {
        margin-top: 200%;
    }
}