@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');


body{
    background-color: #F5EEDC;
}

.skills-container{
    width: 80%;
    margin-left: 10%;
    margin-top: 4%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.skills-title{
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: 'Work Sans', sans-serif;
    font-size: 3rem;
}

.card {
    margin-bottom: 5%;
    border: 1px solid;
    padding: 20px;
    box-shadow: 5px 8px;
}

#skills{
    text-decoration: none;
    color: #292B2E;
}